/* * {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  font-family: system-ui, sans-serif;
  perspective: 1500px;
  background: linear-gradient(white, #efefef);
}

.card {
  font-weight: bold;
  padding: 1em;
  text-align: right;
  color: #181a1a;
  
  width:  300px;
  height: 400px;
  box-shadow: 0 1px 5px #00000099;
  
  border-radius: 10px;
  /* background-image: url(https://images.unsplash.com/photo-1557672199-6e8c8b2b8fff?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80); */
  background-image: url(public/test.png);
  background-size: cover;
  /* background-size: cover; */
  
  position: relative;
  
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}

.card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}

.card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

h1 {
  font-size: 2.5rem;
  font-weight: var(--weight-bold);
  margin: 0;
}


:root {
  --primary-color: #999999;
  --secondary-color: #555555;
  --bg-primary: #ffffff;
  --text-color: #222222;
  --text-color-two: #ffffff;
  --bg-secondary: #000000;
  --card-background: #a1a1a1;
  --bg-secondary-two: #111111;
  --shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  --weight-small: 400;
  --weight-semibold: 600;
  --weight-bold: 800;

  --width-small: 600px;
  --width-medium: 1100px;
  --width-large: 1300px;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}



p:hover {
    color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover{
  text-decoration: underline;
}

body {
  background: var(--bg-primary);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

#projects {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 5rem;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(512px, auto);
  grid-gap: 0.8rem;
}

.card .project-bio h3 {
  font-size: 1.5rem;
  border-radius: 5px;
  padding:5px
}

.project-info {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: relative;
  transition: 0.5s ease-in-out;
}

.project-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}


@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}



@media (max-width: 1000px) {
  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .project {
    display: grid;
    grid-template-columns: 1fr;
  }

}
